<footer class="layout-footer">
  <div class="layout-footer_inner">

    <div class="layout-footer__top">
      <ul class="layout-footer__container">
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            company
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            private policy
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            membership
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            customer
          </a>
        </li>
      </ul>

      <ul class="layout-footer__container sns">
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            <img src="@@webRoot/assets/images/footer/pc_ico_sns_fb.jpg" alt="">
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            <img src="@@webRoot/assets/images/footer/pc_ico_sns_instar.jpg" alt="">
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            <img src="@@webRoot/assets/images/footer/pc_ico_sns_what.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="layout-footer__bot">
      <div class="layout-footer__left">
        <p class="left_txt">
          서울특별시 서초구 서초대로 38길 12 (서초동, 마제스타시트 타워원 13층)
        </p>
        <p class="left_txt">
          대표 : 이세훈｜사업자 등록번호 : 119-1-34685｜통신판매 신고번호 : 제 2002-00018호｜개인정보 보호책임자 : 신현철
        </p>
        <p class="left_txt">
          <a href="tel:080-080-4936">Tel : 080-080-4936</a> ｜Fax : 02-6292-6894｜e-mail : <a
            href="mailto:cs@beautynet.co.kr">cs@beautynet.co.kr</a>, <a
            href="mailto:webmaster@beautynet.co.kr">webmaster@beautynet.co.kr</a>
        </p>
        <p class="left_txt">
          서울특별시 서초구 서초대로 38길 12 (서초동, 마제스타시트 타워원 13층)
        </p>

        <p class="left_txt lt1">
          안전거래를 위해 (주)이니시스의 구매안전(에스크로)에 가입하여 서비스를 제공하고있습니다. <a class="signup_check" href="">가입확인</a>
        </p>

        <p class="copyright">ⓒ COPYRIGHT ABLE C&C ALL RIGHT RESERVED.</p>

      </div>
      <div class="layout-footer__right">
        <span class="right_txt"><a href="">회원약관</a></span>
        <span class="right_txt"><a href="">멤버십 이용약관</a></span>
        <span class="right_txt"><a href="">고객센터</a></span>
        <span class="right_txt"><a href="">사이트맵</a></span>
        <span class="right_txt"><a href="">가맹점문의</a></span>
        <span class="right_txt"><a href="">- 미샤</a></span>
        <span class="right_txt"><a href="">- 어표</a></span>
      </div>
    </div>



  </div>
</footer>