<header>
  <h1 class="hide">HEADER.</h1>

  <div class="box__header">
    <div class="box__header--content">

      <h1 class="box__title--logo">
        <a href="#" class="link__head">
          <img src="../../../assets/images/header/brand_logo.png" alt="아리따움">
          <!-- <img src="../../sprites/icon/brand_logo.png" alt=""> -->
        </a>
      </h1>

      <div class="box__header--search">
        <input class="header__searchbar" type="text" placeholder="여름에 더욱 예뻐지세요" />
        <i class="sprite-icon sprite-icon-search"></i>
      </div>

      <div class="box__header--user_tab">
        <a href="#" class="user_tab__btn user_tab__btn--user">
          <i class="sprite-icon sprite-icon-my_page"></i>
        </a>
        <a href="#" class="user_tab__btn user_tab__btn--notification">
          <i class="sprite-icon sprite-icon-notification"></i>
        </a>
        <a href="#" class="user_tab__btn user_tab__btn--cart">
          <i class="sprite-icon sprite-icon-cart"></i>
        </a>
      </div>

    </div>
    <!--header__box--container-->
    <div class="header__box--navigation">
      <ol class="header__navigation--list">
        <li class="navigation__item">
          <a href="" class="item__link">
            <img src="../../../assets/images/header/header_menu_01.png" alt="">
          </a>
        </li>
        <li class="navigation__item navigation__item--flex">
          <a href="#" class="item__link">
            <img src="../../../assets/images/header/header_menu_02.png" alt="">
          </a>
          <a href="#" class="item__link">
            <img src="../../../assets/images/header/header_menu_03.png" alt="">
          </a>
          <a href="#" class="item__link">
            <img src="../../../assets/images/header/header_menu_04.png" alt="">
          </a>
          <a href="#" class="item__link">
            <img src="../../../assets/images/header/header_menu_05.png" alt="">
          </a>
          <a href="#" class="item__link">
            <img src="../../../assets/images/header/header_menu_06.png" alt="">
          </a>
        </li>
        <li class="navigation__item navigation__item--flex">
          <a href="#" class="item__link">
            <img src="../../../assets/images/header/header_menu_07.png" alt="">
          </a>
          <a href="#" class="item__link">
            <img src="../../../assets/images/header/header_menu_08.png" alt="">
          </a>
        </li>
      </ol>
    </div>
    <!--header__box--container-->
  </div>
</header>